ServerSide/src/main/resources/wsdl/PlunetAPI.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://API.Integration/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://API.Integration/" name="PlunetAPIService">
<types/>
<message name="getVersion"/>
<message name="getVersionResponse">
<part name="return" type="xsd:double"/>
</message>
<message name="login">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="loginResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="logout">
<part name="arg0" type="xsd:string"/>
</message>
<message name="logoutResponse"/>
<portType name="PlunetAPI">
<operation name="getVersion">
<input wsam:Action="http://API.Integration/PlunetAPI/getVersionRequest" message="tns:getVersion"/>
<output wsam:Action="http://API.Integration/PlunetAPI/getVersionResponse" message="tns:getVersionResponse"/>
</operation>
<operation name="login" parameterOrder="arg0 arg1">
<input wsam:Action="http://API.Integration/PlunetAPI/loginRequest" message="tns:login"/>
<output wsam:Action="http://API.Integration/PlunetAPI/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="logout">
<input wsam:Action="http://API.Integration/PlunetAPI/logoutRequest" message="tns:logout"/>
<output wsam:Action="http://API.Integration/PlunetAPI/logoutResponse" message="tns:logoutResponse"/>
</operation>
</portType>
<binding name="PlunetAPIPortBinding" type="tns:PlunetAPI">
<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="getVersion">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="login">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
<operation name="logout">
<soap12:operation soapAction=""/>
<input>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</input>
<output>
<soap12:body use="literal" namespace="http://API.Integration/"/>
</output>
</operation>
</binding>
<service name="PlunetAPIService">
<port name="PlunetAPIPort" binding="tns:PlunetAPIPortBinding">
<soap12:address location="http://test24.plunet.com:80/PlunetAPI"/>
</port>
</service>
</definitions>